@page
@{
    Layout = "_Layout";
	ViewData["Title"] = "AcademicMentors - Compare National Tutoring Options";
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl" data-testid="academic-mentors-header">Employ an academic mentor</h1>
		<p class="govuk-body">
			You can employ an academic mentor for a year at a time as a salaried member of staff. They’ll work alongside teaching staff and provide 1 to 1 and small-group sessions (no more than 6 pupils).
		</p>
		<p class="govuk-body">
        There are 2 ways to find an academic mentor.
		</p>
		<ol class="govuk-list govuk-list--number">
  <li>Register with a central provider to be matched with a suitable academic mentor (the registration site will be available soon). They’re likely to be a recent graduate, a school leaver taking a gap year, or someone considering a career in teaching or education.
</li>
  <li>Select and appoint someone directly.</li>
</ol>
		</div>
		</div>