@page
@{
	Layout = "_Layout";
	ViewData["Title"] = "Academic Mentors - Compare National Tutoring Options";
}

<govuk-back-link asp-page="/Options" />

<h1 class="govuk-heading-xl">Academic Mentors</h1>

<p class="govuk-body">Academic Mentors content</p>