@page
@{
	Layout = "_Layout";
	ViewData["Title"] = "Accessibility - Compare National Tutoring Options";
}

<h1 class="govuk-heading-xl">Accessibility</h1>

<p class="govuk-body">Accessibility statement</p>