@page
@{
    ViewData["Title"] = "Accessibility statement";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" data-testid="accessibility-header">
            Accessibility statement for Find a tution partner
        </h1>
        <p class="govuk-body">
            This statement applies to the Find a tuition partner service which is designed to be used by school
            decision-makers. The Find a tuition partner website text should be clear and simple to understand. You
            should also be able to:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
            <li>zoom in up to 300% without problems</li>
            <li>navigate most of the website using just a keyboard</li>
            <li>navigate most of the website using speech recognition software</li>
            <li>
                use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and
                VoiceOver)
            </li>
        </ul>
        <h2 class="govuk-heading-l">How accessible this website is</h2>
        <p class="govuk-body">
            In its current form, the website complies with the <a href="https://www.legislation.gov.uk/uksi/2018/952/contents/made" class="govuk-link"
                                                                  data-testid="legislation-link">Public Sector Bodies Accessibility Regulations.</a> This means it can be
            navigated with common accessibility tools.
        </p>
        <h3 class="govuk-heading-m" data-testid="access-parts-header">What to do if you cannot access parts of this website</h3>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
            <li>
                If you need information on this website in a different format like an accessible PDF, large print, easy
                read, audio recording or braille please contact us at: <a href="mailto:tutoring.support@service.education.gov.uk" data-testid="mailto-ntp-link" class="govuk-link">tutoring.support@service.education.gov.uk</a>
            </li>
        </ul>
        <p class="govuk-body">We’ll consider your request and get back to you within 5 working days. </p>
        <h3 class="govuk-heading-m" data-testid="accessibility-reporting-header">Reporting accessibility problems with this website</h3>
        <p class="govuk-body">
            If you find any problems with this service that are not listed on this page, or if you think we’re not
            meeting the accessibility requirements, <a href="mailto:tutoring.support@service.education.gov.uk" data-testid="mailto-ntp-link" class="govuk-link">contact us.</a>
        </p>
        <h3 class="govuk-heading-m" data-testid="accessibility-enforcement-header">Enforcement procedure</h3>
        <p class="govuk-body">
            If you contact us with a complaint and you’re not happy with our response contact the
            <a href="https://www.equalityadvisoryservice.com/" class="govuk-link"
               data-testid="contact-quality-link">Equality Advisory and Support Service</a> (EASS)
        </p>
        <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
        <h2 class="govuk-heading-l" data-testid="accessibility-technical-information-header">Technical information about this website’s accessibility.</h2>
        <p class="govuk-body">
            Find a tuition partner is committed to making this website accessible in accordance with the Public Sector
            Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018
        </p>
        <h3 class="govuk-heading-m" data-testid="compliance-status-header">Compliance status</h3>
        <p class="govuk-body">
            This website fully meets all relevant success criteria up to and including level AA of the
            <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">
                Web Content Accessibility Guidelines
                (WCAG)
            </a> version 2.1.
        </p>
        <h2 class="govuk-heading-l" data-testid="tested-website-header">How we tested this website</h2>
        <p class="govuk-body">
            The Find a tuition partner service was tested by a senior accessibility advisor in the Department for
            Education’s Technology Services team on 21 July 2022 using the following accessibility tools:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
            <li>
                Dragon NaturallySpeaking (V15.71), a voice recognition (speech to text) program which requires minimal
                user interface from a mouse or keyboard
            </li>
            <li>
                JAWS (2022), a screen reader (text to speech) program developed for users whose vision loss prevents
                them from seeing screen content or navigating with a mouse
            </li>
            <li>Zoomtext (2022), a magnification and reading program tailored for low-vision users</li>
            <li>
                Fusion (2022), a hybrid of ZoomText with its screen magnification and visual enhancements, coupled with
                JAWS for screen reading functionality
            </li>
        </ul>
        <h2 class="govuk-heading-l" data-testid="improve-accessibility-header">
            What we’re doing to improve accessibility
        </h2>
        <p class="govuk-body">
            The Find a tuition partner service is intended to be perceivable, operable, understandable and robust to all
            users of the website and we will strive to achieve this through a process of continuous improvement and
            regular accessibility tests.
        </p>
        <p class="govuk-body">
            This statement was prepared on 25 July 2022.
        </p>
    </div>
</div>
