@page
@model ComplaintsPageModel
@{
    ViewData["Title"] = "Complaints Page";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="/" data-testid="home-link" class="govuk-link">Home</a>
        <h1 class="govuk-heading-l" data-testid="complaint-page-header">
            If you have an issue with your tuition partner
        </h1>
        <p class="govuk-body">
            If you think a child is at risk, <a href="https://www.gov.uk/report-child-abuse-to-local-council" data-testid="local-council-link"
                                                                               class="govuk-link" target="_blank">contact your local council</a> or call the police on 101.
        </p>
        <h2 class="govuk-heading-m">Contact your tuition partner</h2>
        <p class="govuk-body">
            <ul class="govuk-list govuk-list--number govuk-!-margin-left-4">
                <li>
                    Talk to your tuition partner and try to resolve the issue informally – most issues can be resolved this way.>
                </li>
                <li>
                    If you are not happy with your tuition partner’s response, follow their complaints procedure – this is usually published on their website.
                </li>
            </ul>
        </p>
        <h2 class="govuk-heading-m">If you’re still unhappy with your tuition partner’s response</h2>
        <p class="govuk-body">
            If you have already followed your tuition partner’s complaints procedure, you can report issues to the Department for Education (DfE) by emailing <a href="mailto:tutoring.support@service.education.gov.uk" data-testid="mailto-ntp-link" class="govuk-link">tutoring.support@service.education.gov.uk.</a><br/><br/>
            DfE will then monitor all feedback received. DfE may also pass your feedback to our quality assurance provider.
        </p>
    </div>
</div>

