@page
@model ContactUsModel
@{
    ViewData["Title"] = "Contact us";
    ViewData["BackLinkHref"] = Model.ReturnPath;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" data-testid="contact-us-header">
            Contact us
        </h1>
        <h2 class="govuk-heading-m" data-testid="contact-us-telephone-header">Telephone</h2>
        <ul class="govuk-list">
            <li data-testid="contact-us-telephone">Phone: 0300 373 0891</li>
            <li>Monday to Friday 8.30am to 5pm, except bank holidays</li>
        </ul>
        <p class="govuk-body">
            <a data-testid="find-out-call-charges-link" class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
        </p>
        <h2 class="govuk-heading-m" data-testid="contact-us-email-header">Email</h2>
        <ul class="govuk-list">
            <li>
                <a href="mailto:tutoring.support@service.education.gov.uk" data-testid="mailto-ntp-link"
                   class="govuk-link">
                    tutoring.support@service.education.gov.uk
                </a>
            </li>
            <li>We aim to respond in 5 working days.</li>
        </ul>
    </div>
</div>

