@page
@model ContactUsModel
@{
    ViewData["Title"] = "Contact us";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="@Model.ReturnPath" data-testid="back-link" class="govuk-back-link">Back</a>
        <h1 class="govuk-heading-l" data-testid="contact-us-header">
            Contact us
        </h1>
        <p class="govuk-body">
            To give feedback on how our service worked, you can fill in our <a href="https://forms.gle/44KfQyg1YUidrDCi7" data-testid="feedback-form-link"
                                                                               class="govuk-link" target="_blank">feedback form.</a>
        </p>
        <h2 class="govuk-heading-m">For support about tuition partners </h2>
        <p class="govuk-body">
            If you have any questions or need support on our service, you can:
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
                <li>
                    email <a href="mailto:tutoring.support@service.education.gov.uk" data-testid="mailto-ntp-link"
                             class="govuk-link">tutoring.support@service.education.gov.uk.</a>
                </li>
                <li>call 0300 373 0891 - open Monday to Friday 8.30am to 5pm (except bank holidays)</li>
            </ul>
        </p>
        <h2 class="govuk-heading-m">For issues with your tuition partner </h2>
        <p class="govuk-body">
            For help if you have an issue with your tuition partner, you can  <a asp-page="@nameof(ReportIssues)" class="govuk-footer__link" data-testid="report-issues-link">read our guidance.</a>                                                                            
        </p>
    </div>
</div>

