@page
@using System.Net

@model ErrorModel
@{
    @if (Model.Status == HttpStatusCode.NotFound)
    {
        ViewData["Title"] = "Page not found";
    }
    else
    {
        ViewData["Title"] = "Problem with the service";
    }
    ViewData["IncludeHomeLink"] = true;
}

<div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--l" data-testid="error-page">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (Model.Status == HttpStatusCode.NotFound)
                {
                    <h1 class="govuk-heading-l">Page not found</h1>
                    <p class="govuk-body">
                        If you typed the web address, check it is correct.
                    </p>
                    <p class="govuk-body">
                        If you pasted the web address, check you copied the entire address.
                    </p>
                    @if (Model.IncludeEnquiryBuilder)
                    {
                        <p class="govuk-body">
                            If your enquiry or your response to an enquiry has expired or could not be found, <br> <a href="/contact-us" class="govuk-link">contact the Find a tuition partner service</a>.
                        </p>
                    }
                    else
                    {
                        <p class="govuk-body">
                            If the web address is correct or you selected a link or button, <br> <a href="/contact-us" class="govuk-link">contact the Find a tuition partner service</a> for support.
                        </p>
                    }
                }
                else
                {
                    <h1 class="govuk-heading-l"> Sorry, there is a problem with the service</h1>
                    <p class="govuk-body">
                        Try again later.
                    </p>
                    <p class="govuk-body">
                        If you pasted the web address, check you copied the entire address.
                    </p>
                    @if (Model.IncludeEnquiryBuilder)
                    {
                        <p class="govuk-body">
                            If your enquiry or your response to an enquiry has expired or could not be found, <br> <a href="/contact-us" class="govuk-link">contact the Find a tuition partner service</a>.
                        </p>
                    }
                    else
                    {
                        <p class="govuk-body">
                            If the web address is correct or you selected a link or button, <br> <a href="/contact-us" class="govuk-link">contact the Find a tuition partner service</a> for support.
                        </p>
                    }
                }
            </div>
        </div>
    </div>
</div>
