@page
@{
  ViewData["Title"] = "Feedback for 'Find a Tuition Partner'";
  ViewData["UseFromReturnUrlElseHome"] = true;
}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Feedback for 'Find a Tuition Partner'
    </h1>
    <iframe width="800px" height="800px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-SjPYTk0A6NBskpr9imW4o5UNjdURVZURUhIOFFBWVdGSFE3TzEwTk5GQy4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
  </div>
</div>

