@page
@{
	Layout = "_Layout";
	ViewData["Title"] = "FeedBack - Compare National Tutoring Options";
}
  <div class="govuk-grid-row">
	   <div class="govuk-grid-column-two-thirds">
		   	  <h1 class="govuk-heading-xl">Provide feedback on Find a Tuition Partner</h1>

<p class="govuk-body">*All questions are optional.</p>
<p class="govuk-body">This survey should only take 3 minutes.</p>
<p class="govuk-body">Your feedback will be extremely valuable and be reviewed by the team running this service.</p>
<p class="govuk-body">Thank you for your time and thoughts.</p>
 <form  method="post" novalidate>
	  <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading">
                  Do you work in a primary or secondary school?
                </h3>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="primary-school-or-secondary-school-1" data-testid="PrimarySchool" name="primary-school-or-secondary-school" type="radio" value="Primary School">
                  <label class="govuk-label govuk-radios__label" for="primary-school-or-secondary-school-1">
                    Primary School
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="primary-school-or-secondary-school-2" name="primary-school-or-secondary-school" type="radio" value=" Secondary School">
                  <label class="govuk-label govuk-radios__label" for="primary-school-or-secondary-school-2">
                   Secondary School
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="primary-school-or-secondary-school-3" name="primary-school-or-secondary-school" type="radio" value="Other:">
                  <label class="govuk-label govuk-radios__label" for="primary-school-or-secondary-school-3">
                    Other:
                  </label>
                </div>
              </div>
            </fieldset>
            <BR>
             <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading">
                 What type of organisation do you work for?
                </h3>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-organisation-1" name="type-of-organisation" type="radio" value="State-maintained School">
                  <label class="govuk-label govuk-radios__label" for="type-of-organisation">
                    State-maintained School
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-organisation-2" name="type-of-organisation" type="radio" value=" Multi-Academy Trust">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Multi-Academy Trust
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-organisation-3" name="type-of-organisation" type="radio" value="wales">
                  <label class="govuk-label govuk-radios__label" for="type-of-organisation-3">
                    Single Academy Trust
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-organisation-4" name="type-of-organisation" type="radio" value="Private School">
                  <label class="govuk-label govuk-radios__label" for="type-of-organisation-4">
                    Private School
                  </label>
                </div>
                  <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-organisation-5" name="type-of-organisation" type="radio" value="SEND School">
                  <label class="govuk-label govuk-radios__label" for="type-of-organisation-5">
                   SEND School
                  </label>
                </div>
                 <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-organisation-6" name="type-of-organisation" type="radio" value=" Other:">
                  <label class="govuk-label govuk-radios__label" for="type-of-organisation-6">
                   Other:
                  </label>
                </div>
              </div>
            </fieldset>
            <BR>
             <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading">
                  Which job role most closely fits your position?
                </h3>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="fits-your-position-1" data-testid="PrimarySchool" name="fits-your-position" type="radio" value="Headteacher">
                  <label class="govuk-label govuk-radios__label" for="fits-your-position-1">
                   Headteacher
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="fits-your-position-2" name="fits-your-position" type="radio" value="Senior Leadership Team">
                  <label class="govuk-label govuk-radios__label" for="fits-your-position-2">
                  Senior Leadership Team
                  </label>
                </div>
                  <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="fits-your-position-3" name="fits-your-position" type="radio" value="Bursar/ School Business Manager">
                  <label class="govuk-label govuk-radios__label" for="fits-your-position-3">
                 Bursar/ School Business Manager
                  </label>
                </div>
                   <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="fits-your-position-4" name="fits-your-position" type="radio" value="Administrator">
                  <label class="govuk-label govuk-radios__label" for="fits-your-position-4">
                  Administrator
                  </label>
                </div>
                  <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="fits-your-position-5" name="fits-your-position" type="radio" value="Head of Department">
                  <label class="govuk-label govuk-radios__label" for="fits-your-position-5">
                 Head of Department
                  </label>
                </div>
                 <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="fits-your-position-6" name="fits-your-position" type="radio" value="Teacher">
                  <label class="govuk-label govuk-radios__label" for="fits-your-position-6">
                 Teacher
                  </label>
                </div>
                  <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="fits-your-position-7" name="fits-your-position" type="radio" value="Other:">
                  <label class="govuk-label govuk-radios__label" for="fits-your-position-7">
                 Other:
                  </label>
                </div>
               </div>
            </fieldset>
               </div>
             <BR>
           <div class="govuk-form-group">
            <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="useServiceFor">
               What were you intending to use the service for?
              </label>
            </h3>
           <textarea class="govuk-textarea" id="useServiceFor" name="useServiceFor" rows="5"></textarea>
           </div>
           <BR>
           <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Were you able to achieve what you were intending to do within the service?
              </legend>
           <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="achieve-1" name="achieve" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="achieve-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="achieve-2" name="achieve" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="achieve-2">
                    No
                  </label>
                </div>
              </div>

                <BR>
              <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="response-question">
              Please comment on your response to the question above.
            </label>
              <textarea class="govuk-textarea" id="response-question" name="response-question" rows="5" ></textarea>
          </div>
            <BR>
            <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="service-error">
             If you experienced any issues or errors while using the service, could you briefly describe them?
            </label>
            <textarea class="govuk-textarea" id="service-error" name="service-error" rows="5" ></textarea>
          </div>
           <BR>
              <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading">
                 How satisfied were you with the Find a Tuition Partner service?
                </h3>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="howsatisfied-1" data-testid="howsatisfied" name="howsatisfied" type="radio" value="Very satisfied">
                  <label class="govuk-label govuk-radios__label" for="howsatisfied-1">
                    Very satisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="howsatisfied-2" name="howsatisfied" type="radio" value=" Secondary School">
                  <label class="govuk-label govuk-radios__label" for="howsatisfied-2">
                   Satisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="howsatisfied-3" name="howsatisfied" type="radio" value="Dissatisfied">
                  <label class="govuk-label govuk-radios__label" for="howsatisfied-3">
                    Dissatisfied
                  </label>
                </div>
                   <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="howsatisfied-4" name="howsatisfied" type="radio" value="Very dissatisfied">
                  <label class="govuk-label govuk-radios__label" for="howsatisfied-4">
                    Very dissatisfied
                  </label>
                </div>
              </div>
            </fieldset>
            <BR>
            <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="service-better">
            What could we do to make this service better for you?
            </label>
           <textarea class="govuk-textarea" id="sservice-better" name="service-better" rows="5" ></textarea>
          </div>
          <BR>
            <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="email-address">
            We regularly run research with our users to ensure that we design services that work for them. If you would like to help us to improve Find a Tuition Partner by taking part in a research activity in the future, please leave your email address below.
            </label>
            <input class="govuk-input govuk-input--width-10" id="email-address" name="email-address" type="text">
       
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Submit
          </button>
	</form>
		   </div>
	 </div>

