@page
@{
	Layout = "_Layout";
	ViewData["Title"] = "Funding - Compare National Tutoring Options";
}

<govuk-back-link asp-page="/Options" />

<h1 class="govuk-heading-xl">Funding</h1>

<p class="govuk-body">Funding content</p>