@page
@{
	Layout = "_Layout";
	ViewData["Title"] = "Funding and Reporting - Compare National Tutoring Options";
}

<h1 class="govuk-heading-xl">Funding and Reporting</h1>

<p class="govuk-body">Funding and Reporting content</p>