@page
@{
	ViewData["Title"] = "Find a tuition partner";
}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">Funding and Reporting</h1>

<p class="govuk-body">Your school will get the following funding for each pupil premium-eligible pupil in a:
</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
			<li>mainstream school - £162 </li>
			<li>non-mainstream school - £423</li>
		</ul>

<p class="govuk-body">
	Funding can be put towards any of the 3 tutoring options. You can mix and match options in any combination. This funding is intended to subsidise packages of 12 to 15 hours of tutoring for each pupil.
</p>
<p class="govuk-body">
	Your school will receive its funding allocation in 3 instalments: October 2022, January 2023 and April 2023. 
</p>
<h2 class="govuk-heading-l">How the funding works</h2>
<p class="govuk-body">
	Your funding can be used to cover 60% of your total tutoring costs, subject to a maximum rate per pupil per hour. You’ll pay the remaining 40% from other parts of your budget, for example pupil premium.
</p>
<p class="govuk-body">
	You won’t get more funding than you’ve been allocated. If 60% of your costs works out as more than your allocation, you must pay the balance. 
</p>
<p class="govuk-body">
	Any unspent funding will be deducted from next year’s allocation.
	</p>
<h3 class="govuk-heading-l">Maximum tutoring rate per pupil per hour</h3>
<p class="govuk-body">
The Department for Education sets maximum rates per pupil per hour (also called pupil-hour). You can use your funding at the full 60% as long as your rate does not exceed either:
	</p>
	<p class="govuk-body">
The maximum rate per pupil-hour which you can use your funding for at the full 60% is either:
		</p>
		<ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
			<li>£18 in a mainstream school </li>
			<li>£47 in a non-mainstream school </li>
		</ul>
		<p class="govuk-body">
			If you decide to spend more than the agreed maximum rate, you’ll need to pay the balance. 
		</p>
<h3 class="govuk-heading-l">How to work out your average rate per pupil per hour </h3>
<ol class="govuk-list govuk-list--number govuk-!-margin-left-4">
  <li> Multiply the number of tutoring hours by the number of pupils to give total pupil-hours.</li>
  <li>Divide the total cost of tutoring by the number of pupil-hours. </li>
</ol>
<h3 class="govuk-heading-l">Academic mentor tutoring rates </h3>
<p class="govuk-body">
	For academic mentors, the total cost includes their salary and all on-costs.
</p>
<p class="govuk-body">
	To get maximum value from employing an academic mentor on a fixed salary, ensure they provide enough pupil-hours to reach the threshold for 60% subsidy. Examples of thresholds in a mainstream school are:
</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
			<li>1600 pupil-hours if the total cost is £21,800  </li>
			<li>1400 pupil-hours if the total cost is £25,200</li>
		</ul>
		<p class="govuk-body">
			In a non-mainstream school examples of thresholds are:
		</p>
		<ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
			<li>470 pupil-hours if the total cost is £21,800   </li>
			<li>540 pupil-hours if the total cost is £25,200</li>
		</ul>
		<h3 class="govuk-heading-l">Funding calculation examples</h3>


</div></div>