@page
@model Index
@{
    ViewData["Title"] = "Find a tuition partner";
    ViewData["AllowIndexing"] = true;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="get">
            <h1 class="govuk-heading-l">Find a tuition partner</h1>
            <p class="govuk-body">
                Use this service to:
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
                <li>
                    contact tuition partners in your area 
                </li>
                <li>
                    compare prices
                </li>
                <li>
                    send an enquiry to tuition partners
                </li>
            </ul>

            <p class="govuk-body">
                All tuition partners in the service are quality assured.
                 <partial name="_QualityAssuredDetails" />
            </p>

            <div class="app-option-card">
                <govuk-input asp-for="Data.Postcode" input-class="govuk-input--width-10" autocomplete="postal-code" data-testid="postcode">
                    <govuk-input-label is-page-heading="true" class="govuk-label--m">What is your school’s postcode?</govuk-input-label>
                    <govuk-input-hint></govuk-input-hint>
                </govuk-input>
                <govuk-button type="submit" data-testid="call-to-action">Continue</govuk-button>
            </div>

            <input type="hidden" name="handler" value="Submit" />

            <partial name="_SearchModelHiddenInputs" model="@Model.Data" view-data='@new ViewDataDictionary(ViewData) {{"ExcludePostcode", true} }' />
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m" data-testid="other-tutoring-options">Other tutoring options</h2>
        <p class="govuk-body">
            Find a tuition partner is part of the national tutoring programme (NTP).
            You can also get an
            <a class="govuk-link" asp-page="/AcademicMentors" data-testid="academic-mentors-link">academic mentor</a>
            or use
            <a class="govuk-link" asp-page="/SchoolLedTutoring" data-testid="school-led-tutoring-link">school led tutoring</a>.
        </p>
        <h2 class="govuk-heading-m" data-testid="check-your-tp-quality-assured">Check your tuition partner is quality assured</h2>
        <p class="govuk-body">You can only use your NTP funding with quality-assured tuition partners.</p>
        <p class="govuk-body"><a asp-page="@nameof(AllTuitionPartners)" class="govuk-link" data-testid="full-list-link">Check the full list of quality-assured tuition partners</a>.</p>
    </div>
</div>