@page
@model Index
@{
    ViewData["Title"] = "Find a tuition partner";
    ViewData["AllowIndexing"] = true;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="get">
            <h1 class="govuk-heading-l">Find a tuition partner</h1>
            <p class="govuk-body">
                You can use your National Tutoring Programme funding to get a tuition partner, who will arrange tutoring for your pupils in school or online.
            </p>
            <p class="govuk-body">
                This service will help match you with a partner who meets your requirements from the full list of quality-assured tuition partners.
            </p>

            <partial name="_QualityAssuredDetails" />

            <div class="app-option-card">
                <h2 class="govuk-heading-m">What is your school’s postcode?</h2>
                <govuk-input asp-for="Data.Postcode" input-class="govuk-input--width-10" autocomplete="postal-code" data-testid="postcode">
                    <govuk-input-label>Enter your school’s postcode</govuk-input-label>
                </govuk-input>
                <govuk-button type="submit" data-testid="call-to-action">Continue</govuk-button>
            </div>

            <input type="hidden" name="handler" value="Submit" />
            @if (Model.Data.KeyStages != null)
            {
                @for(int i = 0; i < Model.Data.KeyStages.Count(); i++)
                {
                    <input asp-for="Data.KeyStages![i]" type="hidden" />
                }
            }
            @if (Model.Data.Subjects != null)
            {
                @for(int i = 0; i < Model.Data.Subjects.Count(); i++)
                {
                    <input asp-for="Data.Subjects![i]" type="hidden" />
                }
            }
            <input asp-for="Data.TuitionType" type="hidden" />
            <input asp-for="Data.CompareListOrderBy" type="hidden" />
            <input asp-for="Data.CompareListOrderByDirection" type="hidden" />
            <input asp-for="Data.CompareListTuitionType" type="hidden" />
            <input asp-for="Data.CompareListGroupSize" type="hidden" />
            <input asp-for="Data.CompareListShowWithVAT" type="hidden" />

            <h2 class="govuk-heading-m" data-testid="other-tutoring-options">Other tutoring options</h2>
            <p class="govuk-body">You can use your National Tutoring Programme funding to mix and match tutoring options.</p>
            <div class="app-align-sibling-div-height-wrapper">
                <div class="govuk-grid-column-one-half govuk-!-padding-0 app-align-height-with-sibling">
                    <div class="app-option-card app-option-card-left">
                        <h2 class="govuk-heading-m">Academic mentors</h2>
                        <p class="govuk-body">
                            Select your own candidate or apply to a central agency for an academic mentor. You’ll employ them full-time to focus on individual and small-group tuition.
                        </p>
                        <div>
                            <govuk-button-link asp-page="/AcademicMentors" data-testid="academic-mentors-link">Read more</govuk-button-link>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half govuk-!-padding-0 app-align-height-with-sibling">
                    <div class="app-option-card app-option-card-right">
                        <h2 class="govuk-heading-m">School-led tutoring</h2>
                        <p class="govuk-body">
                            Select and employ your own tutors directly, for example current members of staff, retired teachers, parents or supply teachers.
                        </p>
                        <div class="app-bottom-left">
                            <govuk-button-link asp-page="/SchoolLedTutoring" data-testid="school-led-tutoring-link">Read more</govuk-button-link>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Find out how much funding you’ll get</h2>
        <p class="govuk-body"><a asp-page="/FundingAndReporting" class="govuk-link" data-testid="funding-reporting-link">Funding and reporting</a></p>
        <h2 class="govuk-heading-m">Full list of tuition partners</h2>
        <p class="govuk-body"><a asp-page="@nameof(AllTuitionPartners)" class="govuk-link" data-testid="full-list-link">All quality-assured tuition partners</a></p>
    </div>
</div>