@page
@model Index
@{
  ViewData["Title"] = "Find a quality assured tuition partner";
  ViewData["AllowIndexing"] = true;
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    @if (!Model.IncludeEnquiryBuilder)
    {
      <div class="govuk-notification-banner govuk-notification-banner--blue" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <div class="govuk-body">
            <p class="govuk-notification-banner__heading">Enquiry builder is temporarily unavailable.</p>
            <p class="govuk-body">You will be able to use this feature later.</p>
            <p class="govuk-body">You can still contact tuition partners in your area or compare prices.</p>
          </div>
        </div>
      </div>
    }
    <form method="get">
      <span class="govuk-caption-l">National Tutoring Programme (NTP)</span>
      <h1 class="govuk-heading-l">Find a quality assured tuition partner</h1>
      @if (Model.IncludeEnquiryBuilder)
      {
        <p class="govuk-body">
          Use this service to help pupils get the tuition they need. You can:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
          <li>
            send an enquiry to tuition partners
          </li>
          <li>
            contact tuition partners in your area
          </li>
          <li>
            compare prices
          </li>
        </ul>
      }

      <p class="govuk-body">
        You can only use your NTP funding with quality-assured tuition partners.
        <partial name="_QualityAssuredDetails" />
      </p>

      <div class="app-option-card">
        <govuk-input asp-for="Data.Postcode" input-class="govuk-input--width-10" autocomplete="postal-code" data-testid="postcode">
          <govuk-input-label is-page-heading="true" class="govuk-label--m">What is your school’s postcode?</govuk-input-label>
          <govuk-input-hint>You can only use this service if you’re a state=funded primary or secondary school in England</govuk-input-hint>
        </govuk-input>
        <govuk-button is-start-button="true" type="submit" data-testid="call-to-action">Start now</govuk-button>
      </div>

      <input type="hidden" name="handler" value="Submit" />

      <partial name="_SearchModelHiddenInputs" model="@Model.Data" view-data='@new ViewDataDictionary(ViewData) {{"ExcludePostcode", true} }' />
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Related content</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/government/publications/national-tutoring-programme-guidance-for-schools-2022-to-2023/national-tutoring-programme-guidance-for-schools-2022-to-2023">NTP guidance for schools 2022 to 2023</a>.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/government/publications/national-tutoring-programme-guidance-for-schools-academic-year-202324/national-tutoring-programme-guidance-for-schools-academic-year-202324">NTP guidance for schools 2023 to 2024</a>.
    </p>
    <h2 class="govuk-heading-m" data-testid="check-your-tp-quality-assured">Check your tuition partner is quality assured</h2>
    <p class="govuk-body">You can only use your NTP funding with quality-assured tuition partners.</p>
    <p class="govuk-body"><a asp-page="@nameof(AllTuitionPartners)" class="govuk-link" data-testid="full-list-link">Check the full list of quality-assured tuition partners</a>.</p>
    <h2 class="govuk-heading-m" data-testid="other-tutoring-options">Other tutoring options</h2>
    <p class="govuk-body">
      Find out more about <a class="govuk-link" href="https://www.gov.uk/government/collections/national-tutoring-programme-funding">academic mentors and school-led tutors you employ directly on GOV.UK</a>.
    </p>
  </div>
</div>