@page
@{
	Layout = "_Layout";
	ViewData["Title"] = "Quality Assurance Process - Compare National Tutoring Options";
}

<govuk-back-link asp-page="/Options" />

<h1 class="govuk-heading-xl">Quality Assurance Process</h1>

<p class="govuk-body">Quality Assurance Process content</p>