@page
@{
	Layout = "_Layout";
	ViewData["Title"] = "Training - Compare National Tutoring Options";
}

<govuk-back-link asp-page="/Options" />

<h1 class="govuk-heading-xl">Training</h1>

<p class="govuk-body">Training content</p>