@model LocationSearchViewModel

@{
    ViewData["Title"] = "Find a Tuition Partner - Location";
}

<govuk-back-link asp-page="/Options" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	    <govuk-error-summary>
		    <govuk-error-summary-item asp-for="SearchId" />
		    <govuk-error-summary-item asp-for="Postcode" />
	    </govuk-error-summary>
        
	    <h1 class="govuk-heading-l">Find a tuition partner</h1>
	    <p class="govuk-body">Find a tuition partner will help match you with the best tuition partner for your school from the full list of quality assured tuition partners.</p>

	    <form asp-action="Location" asp-route-SearchId="@Model.SearchId">
		    <govuk-input asp-for="Postcode" input-class="govuk-input--width-10" autocomplete="postal-code">
			    <govuk-input-label class="govuk-label--m">What is your school's' location?</govuk-input-label>
			    <govuk-input-hint>Enter the postcode</govuk-input-hint>
		    </govuk-input>

		    <div class="govuk-button-group">
			    <govuk-button type="submit">Continue</govuk-button>
		    </div>
	    </form>
    </div>
</div>
