@page
@{
    ViewData["Title"] = "Session timeout";
    ViewData["IncludeHomeLink"] = true;
}

@*
TODO - Content review - although shouldn't be shown?
TODO - Test that this extends session without cshtml
*@

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Your session has been extended
        </h1>
        <p class="govuk-body">
            We have extended the session used for your enquiry answers.
        </p>
    </div>
</div>