@{
    ViewData["Title"] = "Search Tutoring Partners - Sessions";
}

<govuk-back-link asp-action="TutorTypes"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">How would you like the tutoring sessions to be run?</h1>
        <p class="govuk-body-l">Select all that apply</p>
        
        <form asp-action="Sessions">
            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
            </div>
        </form>
    </div>
</div>
