@{
    ViewData["Title"] = "Search Tutoring Partners - Tutor Types";
}

<govuk-back-link asp-action="Subjects"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">What type of tutor would you like?</h1>
        <p class="govuk-body"><a href="#" class="govuk-link">Find out more about the different tutor types available</a></p>
        <p class="govuk-body-l">Select all that apply</p>
        
        <form asp-action="TutorTypes">
            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
            </div>
        </form>
    </div>
</div>
