.app-back-to-top-banner {
  background: #fff;
  display: none;
}

.app-back-to-top-banner__fixed {
  position: fixed;
  display: block;
  top: 0;
  border: 1px solid #b1b4b6;
  border-top: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 10px 15px;
  left: 0;
  width: 100%;
  max-width: 1240px;
}

@include govuk-media-query($from: mobile) {
  .app-back-to-top-banner__fixed {
    padding: 12px 30px;
  }
}

@include govuk-media-query($from: tablet) {
  .app-back-to-top-banner__fixed {
    left: auto;
    margin-left: -30px;
  }
}

.app-back-to-top-banner .total-compare-listed-tuition-partners-top-link {
  margin-top: 0;
  float: right;
}

.js-enabled .top-link-no-js {
  display: none;
}

.top-link-no-js {
  a {
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
