@media not print {
  .remove-compare-list-table-button {
    margin-bottom: 0px;
  }
}

.app-compare-list--apply-refinement {
  margin-top: 30px;
}

.js-enabled .app-compare-list--apply-refinement {
  display: none;
}

.govuk-grid-column-compare-list {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.govuk-grid-row-compare-list {
  margin-left: 0px;
}

.refine-pricing-heading {
  padding-top: 30px;
  margin-bottom: 10px;
}
