.js-enabled .session-timeout-banner {
  display: none;
}

.display-pre-wrap {
  white-space: pre-wrap;
}

.feedback-iframe {
  display: none;
}

.js-enabled .feedback-iframe {
  display: inline;
  width: 100%;
  height: 100vh;
}

.js-enabled .feedback-no-js {
  display: none;
}
