span.enquiry-status-box {
  padding: 0.2em;
  font-weight: 600;
}

span.enquiry-status-interested {
  background-color: #d0e1d9;
  color: #689178;
}

span.enquiry-status-undecided {
  background-color: #fef8c5;
  color: #665d22;
}

span.enquiry-status-unread {
  background-color: #eeefef;
  color: #5b6063;
}

span.enquiry-status-not-set {
  background-color: #dad6e7;
  color: #5a4989;
}
