.app-print-this-page--container {
  display: grid;
}

.app-print-this-page--container-left {
  grid-column: 1;
}

.app-print-this-page--container-right {
  grid-column: 2;
  text-align: right;
  margin: 0;
  padding-top: 12px;
}

.app-print-this-page--link {
  display: none;
}

.js-enabled .app-print-this-page--link {
  display: inline;
  background-image: url("~/src/images/print-this-page.png");
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 30px;
}

@media print {
  .govuk-header__container {
    border-bottom: 0;
  }

  .govuk-header__logo {
    display: none;
  }

  .govuk-phase-banner {
    display: none;
  }

  .govuk-back-link {
    display: none;
  }

  .app-print-hide {
    display: none;
  }

  .app-print-this-page--container {
    display: none;
  }

  .app-contact-banner {
    display: none;
  }

  .govuk-footer {
    display: none;
  }
}