.app-results-filter {
  padding: govuk-spacing(3);
  background-color: govuk-colour("light-grey");

  label:before {
    background-color: govuk-colour('white');
  }
}

.js-enabled .app-results-filter--apply-filters {
  display: none;
}

.js-enabled .app-results-filter {
  @include govuk-media-query($until: tablet) {
    display: none;

    &.app-results-filter-overlay {
      display: block;
      position: fixed;
      z-index: 1000;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      overflow-y: auto;
    }

    .app-results-filter-overlay--show-filters {
      display: block;
    }
  }
}

.app-results-filter-overlay--heading{
  display: grid;
}

.app-results-filter-overlay--heading-left {
  grid-column: 1;
}

.app-results-filter-overlay--heading-right {
  grid-column: 2;
  text-align: right;
}

.app-results-filter-overlay--visible {
  display: none;
}

.app-results-filter-overlay {
  .app-results-filter-overlay--not-visible {
    display: none;
  }

  .app-results-filter-overlay--visible {
    display: block;
  }
}

.js-enabled .app-results-filter-overlay--show-filters {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.app-form-group-inline {
  .govuk-button {
    margin-top: govuk-spacing(3);
  }

  @include govuk-media-query($from: tablet) {
    .govuk-input {
      max-width: 20ex + 3ex;
    }

    .govuk-button {
      display: inline !important;
      margin-top: govuk-spacing(0);
      margin-bottom: govuk-spacing(0);
      margin-left: govuk-spacing(1);
    }
  }
}