.search-results-logo > img {
  @include govuk-media-query($until: tablet) {
    display: none;
  }

  @include govuk-media-query($from: tablet) {
    display: inline;
    float: right;
    width: 90px;
  }
}

.tuition-partner-logo {
  @include govuk-media-query($until: tablet) {
    display: none;
  }
}

.tuition-partner-summary {
  margin-bottom: 30px;
  border-bottom: 1px solid #b1b4b6;

  > div > .govuk-summary-list {
    margin-bottom: 20px;
  }

  @include govuk-media-query($from: desktop) {
    display: grid;
    grid-template-columns: auto 180px;

    > img {
      @include govuk-media-query($until: desktop) {
        display: none;
      }
    }
  }
}
