<govuk-details data-testid="qatp-details">
    <govuk-details-summary>
        How are tuition partners quality-assured?
    </govuk-details-summary>
    <govuk-details-text>
        <p class="govuk-body">All tuition partners in this service:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
            <li>can provide tutoring as part of the National Tutoring Programme (NTP)</li>
            <li>comply with statutory safeguarding requirements</li>
            <li>noffer schools a high-quality service</li>
        </ul>
        <p class="govuk-body">You can find out more from <a href="https://www.tribalgroup.com/become-an-ntp-tuition-partner-0" class="govuk-link" data-testid="tribal-link">Tribal</a>, our quality assurance partner.</p>
    </govuk-details-text>
</govuk-details>