@{
    ViewData["Title"] = "Home Page";
}

<h1 class="govuk-heading-xl">Default page template</h1>
<p class="govuk-body">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
