@{
    ViewData["Title"] = "Home Page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Matching tutoring providers</h1>
        <p class="govuk-body-l">Based on your answers, there are multiple approved tutoring providers to choose from.</p>
    </div>
</div>
