@{
    ViewData["Title"] = "Home Page";
}

<govuk-back-link asp-controller="Home" asp-action="Index"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">What is your school address?</h1>
        <p class="govuk-body-l">We'll find tuition partners in your area</p>
        
        <form asp-action="School">
            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
            </div>
        </form>
    </div>
</div>
