@page "/enquiry-response/{tuitionPartnerSeoUrl}/{supportReferenceNumber}/declined-confirmation"
@model UI.Pages.Enquiry.Respond.DeclinedConfirmation
@using GovUk.Frontend.AspNetCore.TagHelpers
@{
  ViewData["Title"] = "You have declined this enquiry";
}

<form method="post">
  <div class="govuk-grid-row" xmlns="http://www.w3.org/1999/html">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span show-if="!string.IsNullOrWhiteSpace(Model.Data.LocalAuthorityDistrict)" class="govuk-caption-l">School enquiry from the <strong>@Model.Data.LocalAuthorityDistrict</strong> area</span>
      <h1 class="govuk-heading-l">
        You have declined this enquiry
      </h1>
      <p class="govuk-body">Reference number: @Model.Data.SupportReferenceNumber</p>
      <p class="govuk-body">We’ll continue to email you about any future tuition enquiries.</p>
      <p class="govuk-body">You can now close this tab.</p>
    </div>
  </div>
</form>