@page
@model Index
@{
	Layout = "_Layout";
    ViewData["Title"] = "Find a tuition partner";
	ViewData["Service Name"] = "Find a tuition partner";
}

<govuk-back-link asp-page="/Options" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	    <govuk-error-summary>
		    <govuk-error-summary-item asp-for="Data.Postcode" />
	    </govuk-error-summary>
        
	    <h1 class="govuk-heading-l">Find a tuition partner</h1>
	    <p class="govuk-body">Find a tuition partner will help match you with the best partner from the full list of quality assured tuition partners. A tuition partner will help you deliver all of your tutoring needs online and in person.</p>
	    <p class="govuk-body">Understand how your funding can cover 60% of the cost of your tutoring with our <a href="https://www.gov.uk/government/publications/national-tutoring-programme-ntp/national-tutoring-programme-ntp#ntp-funding-for-2022-to-2023" class="govuk-link">funding guidance</a>.</p>

	    <form method="post">
		    <govuk-input asp-for="Data.Postcode" input-class="govuk-input--width-10" autocomplete="postal-code">
			    <govuk-input-label class="govuk-label--m">What is your school’s postcode?</govuk-input-label>
			    <govuk-input-hint>Enter your school’s postcode</govuk-input-hint>
		    </govuk-input>

		    <div class="govuk-button-group">
			    <govuk-button type="submit">Continue</govuk-button>
		    </div>
	    </form>
    </div>
</div>
