name: build-and-test

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup dotnet
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.x'
    - name: Restore
      run: dotnet restore CompareNationalTutoringOptions.sln
    - name: Build
      run: dotnet build CompareNationalTutoringOptions.sln --no-restore
    - name: Test
      run: dotnet test CompareNationalTutoringOptions.sln --no-build --logger trx --results-directory TestResults
    - name: Upload test results
      uses: actions/upload-artifact@v3
      with:
        path: TestResults
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}