name: Deploy to GOV.UK PaaS

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      run_database_migrations_and_import_data:
        required: true
        type: boolean
    secrets:
      CF_USERNAME:
        required: true
      CF_PASSWORD:
        required: true
      DATA_ENCRYPTION_KEY:
        required: true
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment for the deployment'
        required: true
        default: qa
        type: choice
        options:
          - qa
          - research
          - staging
          - production
      run_database_migrations_and_import_data:
        description: 'Run database migrations and import data'
        required: true
        default: false
        type: boolean

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    env:
      CF_API: "https://api.london.cloud.service.gov.uk"
      CF_ORG: "dfe"
      CF_SPACE: ntp-${{ github.event.inputs.environment }}

    permissions:
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Bundle web assets
        working-directory: ./UI
        run: |
          npm ci
          npm run build

      - name: Install the CF CLI
        run: |
          wget -q -O cf.tar.gz "https://packages.cloudfoundry.org/stable?release=linux64-binary&version=v8"
          sudo tar xzf cf.tar.gz --wildcards --directory /usr/local/bin/ "cf*"

      - name: Authenticate
        env:
          CF_USERNAME: ${{ secrets.CF_USERNAME }}
          CF_PASSWORD: ${{ secrets.CF_PASSWORD }}
        run: |
          echo "Logging into $CF_ORG/$CF_SPACE..."
          cf api "${CF_API}"
          cf auth
          cf target -o "${CF_ORG}" -s "${CF_SPACE}"

      - name: Deploy to PaaS
        run: |
          cf push --strategy rolling --vars-file vars-${{ github.event.inputs.environment }}.yml

      - name: Run database migrations and import data
        if: ${{ github.event.inputs.run_database_migrations_and_import_data == 'true' }}
        run: |
          cf run-task national-tutoring-${{ github.event.inputs.environment }} --command "exec /home/vcap/deps/0/dotnet_publish/UI import --DataEncryption:Key ${{ secrets.DATA_ENCRYPTION_KEY }}" --name national-tutoring-${{ github.event.inputs.environment }}-data-import
      
      - name: Logout
        run: cf logout